<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>GAUGE</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
  <!-- <script src='main.js'></script> -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- custom CSS: -->
  <link rel="stylesheet" href="/public/style.css" type="text/css">
</head>
<body class="#f3e5f5 purple lighten-5">
  <div class="showcase container">
    <h1 class="purple-text text-darken-4">Welcome to Gauge</h1>
    <h5 class="deep-purple-text text-lighten-2">Your daily mindfulness assistant<h5>
  </div>
  <div class="container purple-text text-darken-4" >
    <form method="GET" action="/getStarted">
      <input type="submit" value="Let's get gauging" class="btn #4a148c purple darken-4">
    </form>
  </div>
</body>
</html>
