body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Lora Regular', serif; */
  src: url("https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300");
  font-weight: 300;

 }
/*
 body {
  font-family: 'Quicksand', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Quicksand:300,500");
  font-weight: 300;
  background-color: #fce1e0
 } */


 /* body {
  font-family: 'Montserrat Light, sans-serif';
  src: url("https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300");
  font-weight: 300;
  background-color: #fce1e0;
  text-transform: uppercase;
 } */

 h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  /* text-transform: uppercase; */

 }


 /* materialize */
 /* background color: class="#f3e5f5 purple lighten-5" */

 .card {
   border-radius: 10px;
   background-color: #e1bee7;
 }
 .card-image {
  border-radius: 10px;
}
form {
  margin-top: 50px
}

